body {
    background-color: #fffaff;
}

.team-heading {
    height: 100px;
    background-color: #1c0022;
}

h1 {
    color: #fffaff;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.employee-card {
    width: 275px;
    margin: 20px;
}

.card {
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.75);
    border: none;
}

.card-header {
    background-color: #3c005f;
    color: #fffaff;
}

.card-body {
    background-color: #cec8bf;
}

a {
    color: black;
}

ul {
    border: none;
}

li {
    margin: 10px;
}